jupyter==1.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
mplcursors==0.5.3
numpy==1.26.3
pandas==2.2.0
plotly==5.18.0
plotly-express==0.4.1
python-dateutil==2.8.2
python-json-logger==2.0.7
seaborn==0.13.2
streamlit==1.30.0
